@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap');

:root {
  /* Colors: */
  --main: #001B47;
  --secondry: #FEBF09;
  --white: #fff;
  --black: #000;
  --rate: #ffbb00;
  --muted-text: #848484;
  --card-bg: #F8F8F8;
  --card-raduis: 20px;
  /* rgba */
  --mainOp: 0, 27, 71;
  --secondryOp: 254, 191, 9;
  --whiteOp: 255, 255, 255;
  --blackOp: 0, 0, 0;
  /* variables */
  --gutter-x: 8.5rem;
}

@media (max-width: 992px) {
  :root {
    --gutter-x: 1.5rem;
  }
}

* {
  font-family: "Beiruti", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.35s linear;
  -webkit-transition: 0.35s linear;
  -moz-transition: 0.35s linear;
  -ms-transition: 0.35s linear;
  -o-transition: 0.35s linear;
}

/* scrollbar */
::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondry);
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.63);
}

/* select text */
::selection {
  color: var(--white);
  background-color: rgba(var(--mainOp), 0.75);
}

/* placeholder */
.form-floating label,
::placeholder {
  color: #6B6B6B;
  font-size: 16px;
}

.cut-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#scrollUp {
  display: none;
}

.fixed-icon {
  position: fixed;
  bottom: 110px;
  inset-inline-start: 30px;
  z-index: 9;
}

.fixed-icon a i {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main);
  color: var(--white);
  backdrop-filter: blur(18px);
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 30%);
  transition: .5s;
  z-index: 8708;
  font-size: 20px;
  width: 54px;
  height: 54px
}

.fixed-icon.snapchat {
  bottom: 40px
}

.snapchat i::after {
  content: '';
  height: 54px !important;
  width: 54px !important;
  top: calc(50% - 27px) !important;
  inset-inline-start: calc(50% - 27px) !important;
  position: absolute;
  border: 3px solid rgba(var(--whiteOp), 0.84);
  border-radius: 100%;
  box-shadow: 0 0 0 3px rgba(var(--whiteOp), 0.84);
  z-index: 2;
}

.fixed-icon.snapchat a i {
  background: #FFFC00;
  color: #000;
}

.snapchat i::after {
  -webkit-animation: 1s infinite ripple-out;
  animation: 1s infinite ripple-out;
}

@keyframes ripple-out {
  100% {
    transform: scale(1.5);
    opacity: 0;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5)
  }
}

@-webkit-keyframes ripple-out {
  100% {
    transform: scale(1.5);
    opacity: 0;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5)
  }
}

/* -- global -- */
body {
  background: var(--white);
}

[dir=rtl] [type=email],
[dir=rtl] body,
[type=number],
[type=tel],
[type=url] {
  direction: rtl !important
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  margin-bottom: 0rem !important;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.1em !important;
}

ul {
  padding: 0rem !important;
  list-style: none;
}

.container-fluid {
  --bs-gutter-x: var(--gutter-x) !important;
}

/* nice select */
.nice-select {
  width: 100%;
  color: var(--black);
  float: unset;
  margin-top: 0 !important;
}

.nice-select .list {
  width: 100%;
  z-index: 98;
}

.nice-select {
  border: none;
}

.nice-select,
.nice-select .list li {
  text-align: right !important;
  padding-right: 18px;
  padding-left: 30px;
}

.nice-select:after {
  right: unset;
  left: 12px;
}

/* accordion */
.accordion-header {
  padding-inline-start: 1.5rem;
}

.accordion-button {
  font-size: 20px;
  font-weight: 500;
}

.accordion-item {
  background-color: transparent;
  border-left: unset;
  border-right: unset;
  border-radius: 0 !important;
}

.accordion-item:first-child {
  border-top: unset;
}

.accordion-item:last-child {
  border-bottom: unset;
}

.accordion-button:not(.collapsed) {
  color: initial;
  background-color: transparent;
  box-shadow: none;
  font-weight: 600;
}

.accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
}

.accordion-item .accordion-body {
  padding-top: 0px !important;
  color: #6B6B6B;
  font-size: 1.15rem;
}

/* + */
.accordion-button::after {
  background-image: none !important;
  content: "\F64D";
  font-family: 'bootstrap-icons';
  position: absolute;
  inset-inline-start: -1rem;
  width: 30px;
  height: 30px;
  color: var(--secondry);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* - */
.accordion-button:not(.collapsed)::after {
  content: "\F2EA";
  color: var(--white);
  background: var(--secondry);
}

/* inputs */
.form-control {
  padding: 0.75rem 0.75rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--balck);
  border: 1px solid #DBDBDB;
  border-radius: 0.45rem;
  transition: 0.15s ease-in-out;
  box-shadow: none !important;
  -webkit-border-radius: 0.45rem;
  -moz-border-radius: 0.45rem;
  -ms-border-radius: 0.45rem;
  -o-border-radius: 0.45rem;
}

.form-control:focus {
  border: 1px solid var(--secondry) !important;
  outline: none !important;
}

.input-group .form-control:focus {
  border: none !important;
}

.input-group * {
  border: none !important;
}

.input-group {
  border-radius: 0.45rem;
  -webkit-border-radius: 0.45rem;
  -moz-border-radius: 0.45rem;
  -ms-border-radius: 0.45rem;
  -o-border-radius: 0.45rem;
  overflow: hidden;
}

.input-group:focus-within {
  border-color: var(--secondry) !important;
  overflow: hidden;
}

/* buttons */
.main-outline-btn,
.main-btn {
  border-radius: 8px;
  width: max-content;
  padding: 6px 40px;
  display: block;
  background: var(--secondry) !important;
  transition: all 0.3s ease-out;
  color: var(--white) !important;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.main-outline-btn {
  background: transparent !important;
  border: 1px solid var(--secondry);
  color: var(--secondry) !important;
}

.main-outline-btn:hover {
  background: var(--secondry) !important;
  color: var(--white) !important;
}

/* classes for colors */
.main {
  color: var(--main) !important;
}

.secondry {
  color: var(--secondry) !important;
}

.bg-main {
  background-color: var(--main) !important;
  color: var(--white) !important;
}

.bg-secondry {
  background-color: var(--secondry);
  color: var(--white) !important;
}

.bg-card {
  background: var(--card-bg) !important;
}

/* float link */
.link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}


/* rate */
.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  font-size: 21px;
}

.Stars::before {
  content: "★★★★★";
  background: linear-gradient(-90deg, var(--secondry) var(--percent), #b9b9b9 var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.social i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 19px;
}

/* tabs */
.nav-tabs {
  border: none;
  margin-top: 1.5rem;
}

.nav-tabs .nav-item .nav-link {
  border: 0;
  margin: 0 0.5rem;
  color: #575757 !important;
}

.nav-tabs .nav-item .nav-link.active {
  color: var(--main) !important;
  font-weight: bold;
  border-bottom: 2px solid var(--main);
}

/* Carousel */
.container-fluid:has(.owl-carousel) {
  padding-inline-end: 0;
}

.owl-carousel .owl-stage {
  display: flex;
}

/* == navbar == */
.navbar {
  position: relative;
  z-index: 2;
}

/* top nav */
.top-nav {
  background: #F0F0F0;
}

.top-nav a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: .85em !important;
}

.top-nav li:not(:last-child) a::after {
  content: '';
  display: inline-flex;
  width: 10px;
  height: 24px;
  border-inline-end: 1px solid rgba(var(--blackOp), .25);
}

.top-nav .helper-pages {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* main-nav */
.navbar-nav {
  justify-content: space-evenly;
  margin: 0 auto;
}

.navbar .navbar-brand img {
  width: 245px !important;
}

.navbar .nav-link.active {
  color: var(--main) !important;
  font-weight: bold;
}

.main-nav .search-box {
  position: relative;
}

.main-nav .search-box input {
  background: transparent;
  border: 1px solid #c2c2c2;
  padding-block: 8px;
  padding-inline: 20px 34px;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

.main-nav .search-box input::placeholder {
  color: #c2c2c2;
}

.main-nav .search-box button {
  position: absolute;
  inset-inline-end: 16px;
  top: 50%;
  font-size: 14px;
  transform: translateY(-50%);
  background: transparent;
  color: var(--secondry);
}

.main-nav .search-box:focus-within button {
  color: var(--secondry) !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../images/Group\ 67653.png);
}

/* spesianl style for home page */
.navbar.home {
  background: transparent;
}

.navbar.home .helper-links {
  border-bottom: 1px solid rgba(var(--whiteOp), .5);
}

.navbar.home li:not(:last-child) a::after {
  border-color: rgba(var(--whiteOp), .5);
}

.navbar.home a {
  color: var(--white) !important;
}

.navbar.home .nav-link.active {
  color: var(--secondry) !important;
}

.navbar.home .navbar-brand img {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}

.navbar.home .search-box input {
  color: var(--white);
}

.navbar.home .search-box button {
  color: var(--white);
}

.navbar.home .navbar-toggler-icon {
  filter: brightness(0) invert(1);
}

/* breadcrumb */


/* -- home page -- */
.header-hero-wrapper {
  position: relative;
  z-index: 9;
  background: url('../images/hero_bg.png') var(--main);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  border-radius: 0px 0px 40px 40px;
  -webkit-border-radius: 0px 0px 40px 40px;
  -moz-border-radius: 0px 0px 40px 40px;
  -ms-border-radius: 0px 0px 40px 40px;
  -o-border-radius: 0px 0px 40px 40px;
  overflow: hidden;
}

.heroSec {
  padding-block: 3rem 8rem;
}

.heroSec .hero-image {
  position: absolute;
  inset-inline-end: 0;
  bottom: 0;
  height: 100%;
  width: auto;
}

.hero-content {
  width: 48%;
  position: relative;
  z-index: 2;
}

/* hero search */
.heroSec .build-options {
  display: flex;
  align-items: center;
  gap: 55px;
  margin: 2rem 0;
}

.heroSec .build-options .place {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  cursor: pointer;
}

.heroSec .build-options .place .icon {
  width: 45px;
  height: 45px;
  background: rgba(var(--whiteOp), 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSec .build-options input:checked+.place .icon {
  background: var(--secondry) !important;
}

.heroSec .build-options .place p {
  font-size: 1.235em;
  font-weight: bold;
}

.classification-content {
  display: flex;
  align-items: center;
  padding: 2px 14px;
  background: var(--white);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.classification-content .form-control {
  margin-inline-end: 6px;
  padding: 10px;
}

.classification-content .form-floating>.form-control:not(:placeholder-shown) {
  padding-top: 2.25rem;
}

.classification-content .form-floating>.form-control:not(:placeholder-shown)~label {
  color: #414141;
  font-size: 18px;
  font-weight: bold;
}

.classification-content .form-select,
.classification-content .nice-select {
  position: relative;
  border-radius: 0;
  border: unset !important;
  color: #12111196 !important;
  height: unset;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.classification-content .form-select::before,
.classification-content .nice-select::before {
  content: '';
  display: inline-flex;
  position: absolute;
  width: 1px;
  height: 40px;
  top: 0;
  transform: translateY(14px);
  inset-inline-end: 0;
  border-inline-end: 1px solid rgba(var(--blackOp), .15);
  -webkit-transform: translateY(14px);
  -moz-transform: translateY(14px);
  -ms-transform: translateY(14px);
  -o-transform: translateY(14px);
}

.classification-content .btn {
  margin-right: 3px;
  padding: 10px 35px;
}

.profile-nav.show,
.classification.show {
  inset-inline-start: 0;
}


.toggle-side-menu-classification {
  position: fixed;
  top: 40%;
  inset-inline-start: 0%;
  color: var(--white);
  padding: 9px;
  background: var(--secondry);
  font-size: 26px;
  border-radius: 5px 0 0 5px;
  display: none;
  line-height: 6px;
  z-index: 9;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
}

html[dir='ltr'] .toggle-side-menu-classification {
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
}

.toggle-side-menu-classification:hover {
  color: var(--white);
}

.close-profile-nav,
.close-side-menu-classification {
  position: absolute;
  top: 10px;
  inset-inline-end: 10px;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--secondry);
  box-shadow: 0px 3px 6px rgba(var(--blackOp), 0.29);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* -- estates slider section --  */
.our-estates.bg-light {
  background: #FBFBFB !important;
}

.our-estates .card {
  background-color: transparent;
  padding: 0;
  border: none;
  border-radius: unset;
  height: 100%;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
}

.our-estates .card .card-body {
  background: var(--card-bg);
  border-radius: var(--card-raduis);
  margin-top: .45rem;
  -webkit-border-radius: var(--card-raduis);
  -moz-border-radius: var(--card-raduis);
  -ms-border-radius: var(--card-raduis);
  -o-border-radius: var(--card-raduis);
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.our-estates .card .card-footer {
  border: none;
  background-color: transparent;
  padding: 0.5rem 1rem 1rem;
}

.our-estates .estate-img {
  border-radius: var(--card-raduis);
  -webkit-border-radius: var(--card-raduis);
  -moz-border-radius: var(--card-raduis);
  -ms-border-radius: var(--card-raduis);
  -o-border-radius: var(--card-raduis);
  overflow: hidden;
}

.our-estates .card-img-top {
  aspect-ratio: 11/7;
  object-fit: cover;
}

.our-estates .fav-icon {
  position: absolute;
  top: 10px;
  inset-inline-start: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: var(--secondry);
  background-color: var(--white);
  box-shadow: 0px 3px 6px rgba(var(--blackOp), 0.29);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.estate-price {
  font-size: 1.15rem;
}

.our-estates .goto {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.our-estates .card:hover .goto {
  background: var(--secondry);
  color: var(--white);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.our-estates .card:hover img {
  scale: 1.1;
}

.our-estates .card-hover .icons:hover {
  color: var(--main);
  background-color: var(--white);
}

.our-estates .badge {
  position: absolute;
  top: 0;
  inset-inline-end: -50%;
  padding: 15px 80px;
  text-align: center;
  background: var(--secondry);
  transform: translate(50%, 50%) rotateZ(314deg);
  font-size: 16px;
}

html[lang='en'] .our-estates .badge {
  transform: translate(-50%, 50%) rotateZ(-314deg);
}

/* all estates */
.estates .accordion-header {
  padding-inline-start: unset;
}

.estates .accordion-button {
  background: transparent;
  color: var(--main);
}

.estates .accordion-button::after {
  font-size: 14px;
  inset-inline-start: unset;
  width: 1.3rem;
  height: 1.3rem;
  inset-inline-end: .25rem;
}

#filter {
  position: fixed;
  top: 50%;
  right: 0;
  color: var(--white) !important;
  background-color: var(--secondry);
  padding: 6px 12px;
  ;
  border-radius: 5px 0px 0px 5px;
  display: none;
  z-index: 99;
}


.filter {
  background-color: #FCFCFC;
  border-radius: 20px;
  border: 0.30000001192092896px solid #b5b5b54a;
  padding: 1rem 0;
}

.filter.filter-toggle {
  background-color: var(--main);
  color: var(--white);
}

.estates .filter.filter-toggle .accordion-button {
  color: var(--white);
}

.filter .accordion-item {
  border: 0 !important;
}

.filter .accordion-button {
  font-weight: bold;
}

.filter .input-group {
  border: 0.30000001192092896px solid #b5b5b54a;
  border-radius: 10px;
}

.form-check-input {
  width: 1.3rem;
  height: 1.3rem;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: var(--secondry);
  border-color: var(--secondry);
}

.form-check-input:checked+label {
  color: var(--secondry);
}

.filter .form-check {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  min-height: 1.5rem;
  margin-bottom: 0.125rem;
  padding: .65rem 0 !important;
  border-bottom: 0.30000001192092896px solid #b5b5b54a;
}

.filter .form-check label {
  width: 100%;
}

/* single estates */

.estates .sticky-side {
  display: inline-block;
  position: sticky;
  top: 10px;
  height: fit-content;
}

.estates .main-side {
  display: inline-block;
  vertical-align: top;
}

.estates .gallery .gallery-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 0.85rem;
}

.estates .gallery .gallery-container .img {
  border-radius: 2rem;
  grid-column: span 3;
  grid-row: span 1;
}

.estates .gallery .gallery-container .img:nth-child(-n + 5) {
  grid-column: span 3;
}

.estates .gallery .gallery-container .img img {
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 3 / 2;
  width: 100%;
  height: 100%;
  border-radius: var(--card-raduis);
  -webkit-border-radius: var(--card-raduis);
  -moz-border-radius: var(--card-raduis);
  -ms-border-radius: var(--card-raduis);
  -o-border-radius: var(--card-raduis);
}

.estates .gallery .gallery-container .img:nth-child(2) {
  grid-row: span 3;
  grid-column: span 9;
  max-height: unset;
}

.estates .share-estate .social i {
  width: 33px;
  height: 33px;
  font-size: 16px;
  box-shadow: 0px 10px 15px #00000029;
}

.estates .share-estate .social i.fa-snapchat {
  background: #FFFC00;
  color: #000;
}

.estates .share-estate .social i.fa-facebook-f {
  background: #1877F2;
}

.estates .share-estate .social i.fa-x-twitter {
  background: #14171A;
}

.estates th,
.estates td {
  padding: 1.25rem 1rem !important;
  border: 0;
}

.estates th {
  color: var(--main);
}

/* -- counter section -- */
.about-txt p {
  color: #6B6B6B;
  font-size: 22px;
}

.count-txt .counter {
  color: var(--secondry);
  font-size: 32px;
  font-weight: bold;
}

.count-border {
  border-inline: 2px solid rgba(var(--blackOp), .125);
}

#counters .counters {
  border-radius: var(--card-raduis);
  -webkit-border-radius: var(--card-raduis);
  -moz-border-radius: var(--card-raduis);
  -ms-border-radius: var(--card-raduis);
  -o-border-radius: var(--card-raduis);
  overflow: hidden;
  background-position: center !important;
  background-size: cover !important;
  padding: 4rem 0;
  color: var(--white) !important;
}

#counters .counters .count-txt .counter {
  background: var(--secondry);
  color: var(--white) !important;
  width: 80px;
  height: 56px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--card-raduis) * .75);
  -webkit-border-radius: calc(var(--card-raduis) * .75);
  -moz-border-radius: calc(var(--card-raduis) * .75);
  -ms-border-radius: calc(var(--card-raduis) * .75);
  -o-border-radius: calc(var(--card-raduis) * .75);
  font-size: 20px !important;
  margin-bottom: 1rem !important;
}

#counters .counters .count-txt {
  padding-block: 1rem;
}

#counters .counters .count-border {
  border-inline: 1px solid rgba(var(--whiteOp), .45);
}

.about-us .who-images {
  width: 94%;
  margin-inline-start: auto;
}

.about-us .who-images img {
  aspect-ratio: 11/8;
  object-fit: cover;
}

.about-us .who-images>img {
  margin-bottom: 18%;
}

.about-us .float-img {
  background: var(--white);
  width: 75%;
  position: absolute;
  bottom: 0%;
  inset-inline-start: -8%;
  padding: 8px;
}


/* blog-grid */
.blog-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: .85rem;
}

.blogs .card {
  border-radius: calc(var(--card-raduis) * .75);
  -webkit-border-radius: calc(var(--card-raduis) * .75);
  -moz-border-radius: calc(var(--card-raduis) * .75);
  -ms-border-radius: calc(var(--card-raduis) * .75);
  -o-border-radius: calc(var(--card-raduis) * .75);
  border: none;
}

.blogs .blog-grid .card {
  gap: 1.4rem;
  flex-direction: row;
  grid-column: span 7;
  grid-row: span 1;
  padding: 1.2rem !important;
  background: var(--card-bg);
}

.blogs .card .blog-img {
  border-radius: var(--card-raduis);
  -webkit-border-radius: var(--card-raduis);
  -moz-border-radius: var(--card-raduis);
  -ms-border-radius: var(--card-raduis);
  -o-border-radius: var(--card-raduis);
  overflow: hidden;
}

.blogs .card .card-img-top {
  aspect-ratio: 11/7;
  object-fit: cover;
}

.blogs .blog-description.cut-text {
  -webkit-line-clamp: 3;
}

.blogs .card .more {
  text-decoration: underline;
}

.blog-grid .card:first-child {
  flex-direction: column;
  grid-row: span 3;
  grid-column: span 5;
  background: #0c203d;
  border-radius: 24px;
  padding: 1rem;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.blog-grid .card:not(:first-child) .card-body {
  width: 85%;
  padding-block: 0;
}

.blog-grid .card:not(:first-child) .card-body .blog-description.cut-text {
  -webkit-line-clamp: 1;
}

.blog-grid .card:not(:first-child) .blog-img img {
  aspect-ratio: 16/7;
  height: 100%;
}

/* ask us */
.ask-us {
  border-radius: calc(var(--card-raduis) * 1.5);
  -webkit-border-radius: calc(var(--card-raduis) * 1.5);
  -moz-border-radius: calc(var(--card-raduis) * 1.5);
  -ms-border-radius: calc(var(--card-raduis) * 1.5);
  -o-border-radius: calc(var(--card-raduis) * 1.5);
}

/* -- footer -- */
footer ul li {
  margin: 12px 0;
}

footer ul li a {
  font-size: 18px !important;
  font-weight: 500;
  color: #6B6B6B;
}

footer li a:hover {
  color: var(--main);
}

footer ul li a.active {
  color: var(--main);
  font-weight: 600;
}

/* google map */
#map {
  width: 100%;
  height: 170px;
}

#map iframe {
  width: 100%;
  height: 100%;
}

footer h4 {
  color: var(--secondry);
  font-weight: 600;
}

footer .sub-footer {
  padding: .75rem 0;
  font-size: 16px;
}

footer .sub-footer img {
  width: 130px;
  object-fit: scale-down;
}

footer .sub-footer span {
  color: rgb(var(--mainOp), .85);
}

/* -- contactUs page -- */
.contactUs .contact-data {
  border-radius: var(--card-raduis);
  -webkit-border-radius: var(--card-raduis);
  -moz-border-radius: var(--card-raduis);
  -ms-border-radius: var(--card-raduis);
  -o-border-radius: var(--card-raduis);
  padding: 2.85rem 3.6rem;
}

.contactUs .contact-data .contact-info a {
  color: white !important;
}

.contactUs .contact-data .contact-info ul li {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contactUs .contact-data .contact-info ul li i {
  font-size: 28px;
}

.contactUs .contact-data .social {
  display: flex;
  justify-content: space-between;
}

.contactUs .contact-data .social i {
  background: var(--secondry);
}

.contactUs .contact-data .social div a {
  color: var(--main);
  font-size: 18px;
}

/* form */
.contactUs .contact-form {
  border-radius: var(--card-raduis);
  background-color: #fcfcfc;
  -webkit-border-radius: var(--card-raduis);
  -moz-border-radius: var(--card-raduis);
  -ms-border-radius: var(--card-raduis);
  -o-border-radius: var(--card-raduis);
}

#contact_map {
  height: 450px;
  border-radius: var(--card-raduis);
  -webkit-border-radius: var(--card-raduis);
  -moz-border-radius: var(--card-raduis);
  -ms-border-radius: var(--card-raduis);
  -o-border-radius: var(--card-raduis);
  overflow: hidden;
}

#contact_map iframe {
  width: 100%;
  height: 100%;
}

/* login */
.login .input-group i {
  color: #707070;
}

#verification-input {
  direction: ltr;
  margin: 1.5rem 0;
  margin-inline-start: auto;
  display: flex;
  justify-content: end;
}

#verification-input>input {
  width: 19%;
  height: 65px;
  padding: 10px;
  text-align: center;
  margin: 0 6px;
  font-size: 28px;
  background: #fafafa;
  border: 1px solid #e9e9e9;
  background: #FCFCFC 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000001C;
  border-radius: 8px;
  color: var(--secondry);
}

#verification-input input:focus {
  border-color: var(--secondry) !important;
  background: #FCFCFC 0% 0% no-repeat padding-box;
}

/* -- profile page -- */

.profile .personal-title {
  background-color: var(--secondry);
  color: var(--white);
  margin: 0px 0px 10px 0px;
  border-radius: 20px 20px 0px 0px;
  padding: 1.3rem 1rem !important;
}

.profile .log-out {
  color: #FF0000;
}

.profile .nav .nav-link i {
  color: #404040;
  font-size: 19px;
}

.profile .log-out {
  border-radius: 0px 0px 20px 20px;
  border: none;
}

.profile .nav .nav-link {
  background-color: var(--white);
  border-radius: 0px;
  color: #404040;
  padding: 1.2rem;
  text-align: right;
  margin: 6px 0px;
  overflow: hidden;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.profile-nav-sm {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  background-color: var(--secondry);
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.profile-nav-sm img {
  width: 25px;
}

/* active link */
.profile .nav .nav-link.active {
  position: relative;
  color: #1a1a1a;
  font-weight: bold;
  background-color: #2160b210;
}

.profile .nav .active::after {
  content: "";
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 4px;
  height: 100%;
  background-color: var(--secondry);
}

.profile .nav .nav-link.active i {
  color: var(--main);
}

/* profile data col */
.profile .profile-data .profile-pic-icon {
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 3;
  opacity: 0;
  background-color: rgba(var(--mainOp),.5);
  color: var(
  --white);
  font-size: xx-large;
  border-radius: 0.35rem;
  transition: 0.2s;
}

.profile .profile-data .profile-pic {
  width: 100px;
  overflow: hidden;
  height: 100px;
  border-radius: 50%;
}

.profile .profile-data .profile-pic img {
  object-fit: cover;
  height: 100%;
}

.profile .profile-data .profile-pic input {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
}

.profile .profile-data .profile-pic:hover .profile-pic-icon {
  opacity: 1;
}


/* -- media -- */
@media (max-width: 991.8px) {
  :root {
    --gutter-x: 4rem;
  }

  /* navbar */
  .navbar-brand {
    order: 1;
  }

  .navbar-toggler {
    order: 2;
  }

  .navbar-collapse {
    order: 3;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }

  .navbar-collapse.show .navbar-nav {
    width: max-content !important;
    margin: unset;
  }

  .navbar-collapse.show .navbar-nav .nav-item {
    margin-block: 8px;
  }

  /* hero section */
  .heroSec {
    height: 75vh;
  }

  .hero-content {
    width: 78%;
  }

  .heroSec .hero-image {
    width: 130%;
    height: unset;
  }

  /* profile */
  .profile .profile-data .my-aqars .card {
    flex-direction: column;
  }

  .profile .profile-data .my-aqars .card .card-img {
    width: 100%;
  }

  .profile .profile-data .my-aqars .card .card-img .card-img-top {
    height: 200px;
  }

  .profile .profile-data .my-aqars .card .card-body p.secondry-color+div {
    padding: 1rem 0rem;
  }

  .profile .profile-data .my-aqars .card .delete {
    padding: 0.5rem;
  }

  /* footer */
  .footer-links .img-fluid {
    max-width: 288px;
    margin: auto;
  }

  #map {
    width: 100%;
    height: 180px;
  }
}


/* @media (max-width: 767.8px) {
  .profile .profile-nav {
    display: none;
  }
} */

@media (max-width: 576px) {
  :root {
    --gutter-x: 1.5rem;
  }

  .header-hero-wrapper {
    background-size: auto;
  }

  .heroSec {
    height: 50vh;
  }

  .hero-content {
    width: 100%;
  }

  .toggle-profile-nav,
  .toggle-side-menu-classification {
    display: block;
  }

  body:has(.classification.show) .toggle-side-menu-classification {
    transform: translateX(-280px);
  }

  .profile-nav,
  .classification {
    position: fixed;
    top: 0;
    inset-inline-start: -280px;
    width: 280px;
    height: 100vh;
    background: var(--main);
    z-index: 88;
    padding: 10px 16px;
    transition: all 0.3s;
  }

  .heroSec .build-options {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  .classification-content {
    padding: 22px 16px;
  }

  .classification-content>div {
    width: 100%;
  }

  .classification-content .form-select::before,
  .classification-content .nice-select::before {
    width: 100%;
    height: 1px;
    top: 100%;
    border-inline-end: unset;
    border-bottom: 1px solid rgba(var(--blackOp), .15);
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }

  .close-side-menu-classification {
    display: flex !important;
  }

  /* estates filter  */
  .filter {
    display: block;
    transform: translate(300px);
    width: 300px;
    max-width: 90%;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 0;
    transition: 0.3s;
  }

  .filter.filter-toggle {
    transform: translate(0);
  }

  .close-profile-nav,
  .filter-header .btn-close,
  .close-side-menu-classification {
    width: 26px;
    height: 26px;
    color: var(--white);
    display: flex;
    opacity: 1;
    background-color: var(--secondry);
    box-shadow: 0px 3px 6px rgba(var(--blackOp), 0.29);
    align-items: center;
    justify-content: center;
    z-index: 9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .filter ::placeholder,
  .filter .form-check label {
    color: var(--white);
  }

  #filter {
    display: block;
  }


  .profile .personal-title {
    background-color: transparent;
    color: var(--white);
    margin: 0px 0px 24px 0px;
    border-radius: 0;
    padding: 0 !important;
    font-weight: bold;
  }
  .profile .nav .nav-link,.profile .nav .nav-link i{
    background: transparent;
    color: var(--white);
  }
  .profile .nav .nav-link.active {
    color: var(--secondry);
    background-color: rgba(var(--secondryOp), .1);
  }
  .profile .nav .nav-link.active i {
    color: var(--secondry);
  }

  /* home blogs */
  .blogs .blog-grid .card {
    grid-column: span 12;
  }

  /* .count-border {
    padding-inline: 1.85rem
  } */
  /* footer */
  .footer-links .img-fluid {
    max-width: 238px;
    margin: auto;
  }

  #map {
    width: 100%;
    height: 180px;
  }

  footer .sub-footer span {
    font-size: 17px;
  }

  footer .sub-footer img {
    width: 110px;
  }

  /* estate images */
  .estates .gallery .gallery-container .img:nth-child(-n + 5) {
    grid-column: span 4;
  }

  .estates .gallery .gallery-container .img:nth-child(2) {
    grid-column: span 8;
  }
}

@media (min-width: 767.8px) {
  .profile-nav-sm {
    display: none;
  }
}


/* en */
html[lang="en"] body {
  direction: ltr;
}

html[lang="en"] .nice-select,
html[lang="en"] .nice-select .list li {
  text-align: left !important;
  padding-left: 18px;
  padding-right: 30px;
}

html[lang="en"] .nice-select:after {
  left: unset;
  right: 12px;
}

html[lang="en"] .nav-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
  float: left;
}

html[lang="en"] .hero-wrapper .hero-video img.hero-shape {
  left: -2px;
  transform: rotate(180deg);
}

html[lang="en"] .hero-wrapper .hero-video .play-icon,
html[lang="en"] .hero-wrapper .hero-video .pause-icon {
  left: 10px;
  transform: translate(-50%, -50%);
}

html[lang="en"] .hero-wrapper .hero-video .play-icon i,
html[lang="en"] .hero-wrapper .hero-video .pause-icon i {
  transform: unset;
}

html[lang="en"] .hero-wrapper .hero-contant .search .search-wrapper .form-control {
  border-right: unset !important;
  border-left: 1px solid #D0735E !important;
  border-radius: 0 !important;
}

html[lang="en"] .Stars {
  transform: rotateY(180deg);
  direction: rtl;
}

html[lang="en"] .bi-arrow-left::before {
  transform: rotateY(180deg);
}